.container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 50px;
	padding: 10px;
	z-index: 1;
	border-right: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 900px) {
	.container {
		padding: 10px 10px 75px;
	}
}

.logo {
	text-decoration: none;
	color: white;
	font-family: "Bebas Neue", cursive;
	font-size: 14px;
	line-height: 1;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.iconLink {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin: 5px 0;
	line-height: 40px;
}

.iconLink svg {
	display: block;
}
