.project {
  width: 100%;
  max-width: 300px;
  text-decoration: none;
}

.project:hover .projectName {
  text-decoration: underline;
}

.projectName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.language {
  width: fit-content;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px 5px 5px 0;
  font-size: 12px;
  line-height: 16px;
  color: #1d1d1d;
}
