.project {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  text-decoration: none;
}

.project:hover .projectName {
  text-decoration: underline;
}

.projectName {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.language {
  width: fit-content;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px 5px 5px 0;
  font-size: 12px;
  line-height: 16px;
  color: #1d1d1d;
}
